---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #4156A6;
  background-image: none;
}

.main-content {
  background-color: #777F86;

  h1, h2, h3, h4, h5 {
    background-color: #3D4853;
  }

  a {
    &, &:link, &:visited, &:hover, &:focus, &:active {
      background-color: #4156A6;
      text-decoration: none;
    }
  }
}
