---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #4156A6;
  background-image: none;

  .project-name, .logo {
    cursor: pointer
  }
}

.main-content {
  color: #777F86;
  padding: 5rem 0;

  h1, h2, h3, h4, h5 {
    color: #3D4853;
  }

  a {
    &, &:link, &:visited, &:hover, &:focus, &:active {
      color: #4156A6;
      text-decoration: none;
    }
  }
}

.btn {
  border-radius: 2rem;

  &.small {
    padding: 0.5rem 1rem;
    background-color: inherit;
  }

  &.back {
    font-weight: bold;
    border-color: #4156A6;
    margin: 2em 0;
  }
}
